<mat-card>
    <mat-card-title>
        New Order
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Symbol" 
                [(ngModel)]="order.symbol" name="symbol">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Side" 
                [(ngModel)]="order.side" name="side">
        </mat-form-field>        
        <mat-form-field>
            <input matInput placeholder="Quantity" 
                [(ngModel)]="order.orderQty" name="quantity">
        </mat-form-field>        
        <mat-form-field>
            <input matInput placeholder="Limit" 
                [(ngModel)]="order.price" name="limit">
        </mat-form-field>        
    </form>

    <button mat-raised-button (click)="createOrder()" color="primary">
        Submit
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancel
    </button>
</mat-card>